html {
  background-color: #222222;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #00b2c3;
  background-image: url('../img/idearium.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: calc(100% - 61px);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
}

header {
  text-align: center;
  background-color: lightblue;
}

header h1 {
  display: inline-block;
  margin: 0;
}

main {
  text-align: center;
  min-height: 100vh;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222222;
  margin-top: 30px;

}

footer p {
  margin: 0 auto;
  color: white;
}

.flash-msg {
  text-align: center;
  margin-bottom: 0px;
}

.note-wrap {
  text-align: left;

}

.note-view {
  margin: 0;
  padding: 5px;
  height: 200px;
  overflow-y: auto;

}

#text {
  width: 100%;
  max-width: 800px;
  min-width: 100px;
  height: 300px;
  font-size: 1.2em;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

#textform {
  margin: 10px;
}

#submit {
  width: 60px;
  height: 40px;
}

.form-horizontal {
  max-width: 300px;
  margin: 0 auto;
}

.error {
  color: red;
}

.form-link {
  margin-top: 50px;
}

.form-link a {
  color: #ffd100;
  font-weight: bold;
}

.dlt-link {
  color: red;
  float: right;
}

.dlt-link:hover {
  color: red;
}

label, legend {
  color: white;
}

input.form-control {
  border-radius: 7px;
}